.cardWrapper {
  margin: 2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
  background-image: linear-gradient(#f7f5de, #e7fae7);
  border: 1rem outset rgba(211, 220, 50, 0.1);
}

.project01,
.project02,
.project03 {
  border: 2px;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1rem;
  text-align: center;
}
.project01 img,
.project02 img,
.project03 img {
  margin-top: 0.5rem;
}

.project03:hover {
  background-color: #eef4d0;
}
.project02:hover {
  background-color: #eef4d0;
}
.project01:hover {
  background-color: #eef4d0;
}

.ProjectTitle {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.ProjectTitle {
  margin-top: 0.5rem;
}
h3 a:hover {
  color: #eacb56;
  border-bottom: solid;
  border-width: 3px;
  transition: 1s, color 1s;
}
ul li p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #9b9797;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* button styling */
.cardWrapper .launch-btn {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  background-color: #eacb65;
  cursor: pointer;
  width: 50%;
}
.cardWrapper .launch-btn a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
}
.cardWrapper .LearnMore-btn {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  background-color: #eacb65;
  cursor: pointer;
  width: 50%;
}
.cardWrapper .LearnMore-btn a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  color: #000;
}

.cardWrapper .launch-btn:hover {
  background-color: #cab264;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  width: 50%;
}

.cardWrapper .LearnMore-btn:hover {
  background-color: #cab264;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  width: 50%;
}

.RecaptchaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media query for  600px screen size*/
@media only screen and (max-width: 600px) {
  .cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    color: none;
    background-image: none;
    border-radius: none;
    box-shadow: none;
  }
  .project01,
  .project02,
  .project03 {
    margin: 1rem;
  }
}
/* Media query for  820px screen size*/
@media only screen and (max-width: 820px) {
  .cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    color: none;
    background-image: none;
    border-radius: none;
    box-shadow: none;
  }
  .project01,
  .project02,
  .project03 {
    margin: 1rem;
  }
}
/* Media query for  1024px screen size*/
@media only screen and (max-width: 1024px) {
  .cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    color: none;
    background-image: none;
    border-radius: none;
    box-shadow: none;
  }
  .project01,
  .project02,
  .project03 {
    margin: 1rem;
  }
}
