/*Contact form styling section*/
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  background-image: linear-gradient(#d4fff2, #f7f5de);
  line-height: 2rem;
  margin: 1rem;
  padding: 2rem;
  width: 500px;
  border: 1px solid;
  border-radius: 3rem;
}

.name,
.email,
.textarea,
.submit-button {
  border: 1px dotted;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.submit-button {
  border-radius: 3rem;
  background-color: #eacb65;
}

#submit-btn {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
