/*Contact form styling section*/

h3 {
  text-align: center;
  font-weight: 600;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  background-image: linear-gradient(#d4fff2, #f7f5de);
  line-height: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 600px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.5rem 1rem;
}
.name input[type="text"],
.email input[type="email"] {
  width: calc(270px - 1rem);
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
  background-color: transparent;
}
textarea {
  padding: 0.5rem;
  border: 1px solid;
  background-color: transparent;
  border-radius: 0.5rem;
  resize: none;
}
.name input[type="text"]:focus,
.email input[type="email"]:focus {
  border-bottom: 2px solid #eacb65; /* Change border color when focused */
  outline: none; /* Remove default focus outline */
}

.textarea textarea:focus {
  border: 2px solid #eacb65; /* Change border color when focused */
  outline: none; /* Remove default focus outline */
}
.name,
.email,
.textarea,
button {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  border-radius: 0.5rem 1rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9rem;
}

#submit-btn {
  border: none;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  background-color: #eacb65;
  cursor: pointer;
}
