.cardWrapper {
  margin: 0 0 2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1rem;
  transition: all 0.1s;
  color: #f7f5de;
}
.cardWrapper:hover {
  border: 1px solid;
  transform: scale(1.05);
  background-image: linear-gradient(#e7fae7, #f7f5de);
}

.cardWrapper:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.project01,
.project02,
.project03 {
  border: 2px;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1rem;
}
h3 a {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

h3 a:hover {
  color: #eacb56;
  border-bottom: solid;
  border-width: 3px;
  transition: 1s, color 1s;
}
ul li p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #9b9797;
}
